{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Notice board</h5>
        </div>
        <div class="card-block">
          <p>
              <ol>
                <li>notice 1</li>
                <li>notice 2</li>
                <li>notice 3</li>
                <li>...</li>
              </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}